.overview {
  padding-left: 30px;
  padding-right: 30px;
}

@overview-font-size: 60px;

.invocation-count {
  color: rgb(101, 166, 55);
  font-size: @overview-font-size;
}

.error-count {
  color: rgb(217, 63, 60);
  font-size: @overview-font-size;
}

.cold-start {
  color: rgb(109, 183, 198);
  font-size: @overview-font-size;
}

.billed-cost {
  color: black;
  font-size: @overview-font-size;
}

//.euiSeriesChartContainer .rv-xy-plot{
//  height: auto !important;
//}